.DS_Store
/QYMLocationDemo.xcodeproj/xcuserdata/jack.xcuserdatad/xcschemes/xcschememanagement.plist
/QYMLocationDemo.xcodeproj/project.xcworkspace/xcuserdata/jack.xcuserdatad/UserInterfaceState.xcuserstate
/QYMLocationDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/QYMLocationDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
